.git
.gitignore
node_modules
vendor
.env
.env.example
*.log
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/public
bootstrap/cache/*.php
public/hot
public/storage
docker
docker-compose.yml
Dockerfile
README.md
doc/
tests/
phpunit.xml
