{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
     "parserOptions": {
         "parser": "babel-eslint"
     },
    "extends": [
        "plugin:vue/recommended"
    ],
    "plugins" : ["html"],
    "globals": {
        "axios": true,
        "Vue": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    },
    "rules": {
        "no-global-assign": ["error", {"exceptions": ["Object"]}],
        "globals": {
            "LA": true
        }
    }
}