/node_modules
/public/hot
/public/storage
/public/js
/public/*.js
/public/mix-manifest.json
/public/css
/public/images
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.cache
/.config
/.local
/.npm
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
