

@import '~vuetify/src/styles/main.sass';
@import  '~vue-multiselect/dist/vue-multiselect.min.css';
@import  '~dropzone/dist/dropzone.css';
@import  '~plyr/dist/plyr.css';

@import "dropzone";

$borders: 1px, 2px, 3px;
$broderdirs: all, top, bottom, left, right;
@mixin border($direction, $width, $style, $color) {
  @if $direction == all {
    border: $width $style $color !important;
  } 
  @else {
    border-#{$direction}: $width $style $color !important;
  }
  
}
@each $d in $broderdirs {
  @each $b in $borders {
    .b#{str-slice($d, 1, 1)}-#{$b/1px} {
      @include border($d, $b, solid, #ddd)
    }
  }
}
